@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500;700&display=swap');

*{
    font-family: 'Sunflower', sans-serif;
}

body {
  margin: 0;
  align-content: center;
  text-align: center;
  background-color: #2f332d;
  color: white;
}
p{
  margin: 10px;
}
h1{
    color: #FFAF24;
    text-decoration: underline;
}

.navbar {
  overflow: hidden;
  padding: 10px;
  background-color: #16583e;
  font-size: 50px;
}

.navbar a {
  float: left;
  color: #FFAF24;;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}


.navbar a.split {
  float: right;
  color: #FFAF24;
}

.florist{
    margin: 10px;
    width: 90%;
    max-width: 800px;
    max-height: 534px;
}
.footer{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #16583e;
    font-size: 25px;
}

.footer a{
    text-decoration: none;
    color: #FFAF24;
    float: left;
    text-align: center;
}

.images{
  width: 25%;
  margin: 20px;
}

.text{
  margin: 30px;
  display: flex;
  justify-content: space-around;
}

.textwidth{
  max-width: 800px;
  width: 25%;
}